<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        a {
            color: brown;
            font-size: 30px;
            text-decoration: underline;
            
        }
        * {
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
        }
        body {
            padding: 50px;
            padding-right: 200px;
            background-color: antiquewhite;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Edit Show #{{ this_show.id }}</h1>
    <form action="/shows/{{this_show.id}}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="update">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Title</label>
            <div class="col-10">
                <input class="form-control" name="title" type="text" value="{{ this_show.title}}" placeholder="show title .." id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Network</label>
            <div class="col-10">
                <input class="form-control" name="network" type="text" value="{{ this_show.network}}" placeholder="show network .." id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-datetime-local-input" class="col-2 col-form-label">Release Date</label>
            <div class="col-10">
                <input class="form-control" name="date" type="datetime-local" id="example-datetime-local-input">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Description ..</label>
            <textarea class="form-control" name="desc" value="{{ this_show.desc}}" id="exampleTextarea" rows="3"></textarea>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <p><a href="/shows/{{this_show.id}}">Go Back to show >></a></p>
    <br>
    {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
    {% endif %}
    <br><br>
    <a href="/shows">Go Back >></a>
</body>
</html>