<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        a {
            color: brown;
            font-size: 30px;
            text-decoration: underline;
            
        }
        * {
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
        }
        body {
            padding: 50px;
            padding-right: 200px;
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <h1>TV Show #{{this_show.id}}</h1>
    <br><br>
    <ul>
        <li>Title: {{this_show.title}}</li>
        <li>Network: {{this_show.network}}</li>
        <li>Release Date: {{this_show.created_at}}</li>
        <li>Description: {{this_show.desc}}</li>
    </ul>
    <br><br><br>
    <p>Last updated: {{this_show.updated_at}} </p>
    <br><br>
    <p> <a href="/shows/{{this_show.id}}/edit">Edit</a> | <a href="/delete/{{this_show.id}}">Delete</a></p>
    <br><br>
    <a href="/shows">Go Back >></a>
</body>
</html>